<h2>Here we have all the chats (for now)</h2>

<% @chats.each do |chat|  %>
  <div>
    <%= link_to "Chat between #{chat.chatter_1.name} and #{chat.chatter_2.name}", chat_path(chat), data: { turbo: false } %>
  </div>
<% end %>
