<div class="scrollable posts-index">
  <h1>Posts</h1>

  <% @posts.each do |post| %>
    <div class="preview">
      <%= render post, user: post.author,
                 like: @likes[post.id]&.first,
                 dislike: @dislikes[post.id]&.first,
                 preview: true %>
    </div>
  <% end %>
</div>
