<div class="scrollable post-and-comments">
  <%= render 'posts/post', post: @post, user: @user, like: @like, dislike: @dislike, preview: false %>

  <h2>Comments:</h2>

  <%= render 'comments/form', comment: @comment, current_user: @current_user, post: @post %>

  <div id="comments">
    <% @post_comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>
</div>
