/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Poppins';
  src: url('/assets/Poppins-Regular.ttf') format('truetype');
}

:root {
  --website-background-color: #EFE2BA;
  --field-background-color: #f6f1df;
  --field-hover-focus-color: #f3e9d5;
  --upload-color: #4056A1;
}

body {
  background-color: var(--website-background-color);
  margin: 0;
  font-family: 'Poppins',  sans-serif;
  height: 100vh;
  display: grid;
  grid-auto-rows: auto 1fr;
  overflow: hidden;
}

button {
  appearance: none;
  outline: none;
}

ul {
  list-style: none;
}

a  {
  appearance: none;
  text-decoration: none;
  color: black;
}

a:hover, a:focus {
  text-decoration: #D79922 underline;
  color: #D79922;
}


.title {
  text-align: center;
  height: 5vh;

}

.content {
  display: flex;
}

.nav-bar {
  height: auto;
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 30px;
}

.nav-bar > *:first-child {
  margin-top: 40px;
}

.nav-bar > * {
  font-size: larger;  /* Should be tmp */
  padding: 5px 80px;
  margin-left: 30px;
}

.nav-bar > div:hover {
  background-color: var(--field-hover-focus-color);
  border-radius: 20px;
}

.user-views {
  flex: 4;
}

.scrollable {
  overflow-y: auto;
}

.hidden {
  display: none !important;
}

.post-button {
  color: white;
  width: 100px;
  height: 40px;
  background-color: var(--upload-color);
  box-shadow: 4px 3px 5px 1px rgba(0, 0, 0, 0.42);
  border-radius: 10px;
  border: none;
  transition: 0.2s;
}

.post-button:hover, .post-button:focus {
  background-color: rgba(64, 86, 161, 0.84);
  box-shadow: 4px 3px 5px 1px rgba(0, 0, 0, 0.29);
}

.post-button:active {
  transition: 0.2s;
  box-shadow: none;
}

.selected {
  border-bottom: solid #4056A1 !important;
  border-bottom-style: inset !important;
}

input[type=file] {
  display: block;
  color: var(--upload-color);
}
input[type=file]::file-selector-button {
  appearance: none;
  outline: none;
  border: none;
  background-color: var(--field-background-color);
  border-radius: 3px ;
}

input[type=file]::file-selector-button:hover, input[type=file]::file-selector-button:focus {
  background-color: var(--field-hover-focus-color);
}




