/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Poppins';
  src: url('/assets/Poppins-Regular.ttf') format('truetype');
}

:root {
  --website-background-color: #EFE2BA;
  --field-background-color: #f6f1df;
  --field-hover-focus-color: #f3e9d5;
}

body {
  background-color: var(--website-background-color);
  margin: 0;
  font-family: 'Poppins',  sans-serif;
  height: 100vh;
  display: grid;
  grid-auto-rows: auto 1fr;
  overflow: hidden;
}

.title {
  text-align: center;
  height: 5vh;

}

.content {
  display: flex;
}

.nav-bar {
  height: auto;
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 30px;
}

.nav-bar > *:first-child {
  margin-top: 40px;
}

.nav-bar > * {
  font-size: larger;  /* Should be tmp */
  padding: 5px 80px;
  margin-left: 30px;
}

.nav-bar > div:hover {
  background-color: var(--field-hover-focus-color);
  border-radius: 20px;
}

.user-views {
  flex: 4;
}

.scrollable {
  overflow-y: auto;
}


