.messages-view {
  background: var(--field-background-color);
  border-radius: 50px;
  max-height: 80%;
  display: flex;
  flex-direction: column;
}

.messages {
  box-sizing: border-box;
  height: 70vh;

  width: 100%;
  padding: 20px 20px;


  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;

  overflow-y: scroll;
}


/* Thank you to the CSS user who I got this from */
.message {
  --r: 2em;  /* the radius */
  --t: 0.5em; /* the size of the tail */
  max-width: 300px;
  padding: 1em;
  border-inline: var(--t) solid #0000;
  border-radius: calc(var(--r) + var(--t))/var(--r);
  background: #ba8d66;
  color: #fff;
}
.left {
  --_p: 0;
  border-bottom-left-radius: 0 0;
  place-self: start;
}
.right {
  --_p: 100%;
  border-bottom-right-radius: 0 0;
  place-self: end;
}

.send-message {
  place-self: center;
  width: 90%;
}

.send-message input {
  appearance: none;
  background: var(--field-background-color);
  width: inherit;
  height: 3em;
  font-size: inherit;
  border: solid #ba8d66;
  border-radius: 10px;
}

.send-message input:hover, .send-message input:focus {
  appearance: none;
  outline: none;
  background: var(--field-hover-focus-color);
}

