.post {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: clamp(700px, 70vw,900px);
  height: max(600px, 85vh);
}

.post-header {
  font-size: x-large;
  display: flex;
  align-items: center;
}

.post .profile-photo {
  height: 50px;
  width: 50px;
}

.post-buttons {
  display: flex;
  justify-content: space-around;
}

.post-buttons button {
  height: 35px;
  flex-grow: 1;
  border: none;
  background-color: var(--field-background-color);
}

.post-buttons button:hover, .post-buttons button:focus {
  background-color: var(--field-hover-focus-color);
}

.post-image {
  height: 50vh;
  align-self: center;
  box-shadow: 0 0 3px 5px rgba(241, 60, 32, 0.35);
  border-radius: 5px;
}

.preview .post {
  height: max(400px, 70vh);
  width: 100%;
}

.preview .post-image {
  height: 30vh;
}

.preview h1 {
  font-size: small;
}

.preview .profile-photo {
  width: 40px;
  height: 40px;
}




