.user-page {
  max-height: 90vh; /* Set the maximum height */
  padding: 0 10px;
  width: clamp(700px, 75vw, 900px);
}

.hidden {
  display: none;
}

.user-nav button {
  appearance: none;
  outline: none;
  border: none;
  background-color: var(--field-background-color);
}

.user-nav .buttons button {
  height: 40px;
  width: 130px;
  border-radius: 30px;
}

.user-nav button:hover {
  background-color: var(--field-hover-focus-color) ;
}

.user-nav form {
  display: inline;
}

.user-header {
  display: flex;
  align-items: center;
  gap: 15px;
}


